$c-lightblack: #666666;
$c-text-black: #222222;
$c-text-gray: #cccccc;
$c-gray: rgb(240, 240, 240);
$c-lightgreen: rgb(183, 235, 106);
$c-lightred: rgb(245, 132, 114);
$c-red: rgb(216, 36, 35);
$c-lighterorange: rgb(246, 186, 57);
$c-orange: rgb(240, 136, 0);
$c-orange-opacity: rgba(240, 136, 0, .5);
$c-darkorange: rgb(187, 103, 5);
$c-lightorange: rgb(209, 115, 6);
$c-lightyellow: rgb(255, 216, 26);
$c-yellow: rgb(255, 217, 37);
$c-darkyellow: rgb(233, 206, 79);
$c-blue: rgb(66, 139, 203);
$c-shadow-r: rgba(192, 9, 0, .7); // 红色阴影
$c-shadow-y: rgba(142, 112, 0, .5); // 黄色阴影
$c-mask-light: rgba(0, 0, 0, .15); // 浅透明遮罩
$c-mask-normal: rgba(0, 0, 0, .4); // 正常遮罩
$c-mask-white: rgba(255, 255, 255, .9); // 白色遮罩
$c-mask-lightwhite: rgba(255, 255, 255, .5); // 白色遮罩
$c-border-white: rgba(255, 255, 255, .4); // 白色边框
$c-border-gray: rgb(200, 200, 200); // 白色边框